@model Product

@{
    Layout = "~/Views/Shared/NewLayout.cshtml";

<div class="d-flex justify-content-center">
    <h2>Add New Product</h2>
</div>

<br />
<br />
<br />

<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mt-5">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <label asp-for="ImagePath" class="form-label"></label>
        <input asp-for="ImagePath" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <div class="form-group mt-5">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-items="ViewBag._Categories" asp-for="CategoryId" class="form-control">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mt-5 d-flex justify-content-center">
        <input type="submit" value="Add Product" class="btn btn-success mx-3" />
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary mx-3">Back</a>
    </div>

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
}