@model Category

@{
    Layout = "~/Views/Shared/NewLayout.cshtml";


<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Category Id: @Model?.CategoryId</h5>
        <h6 class="card-subtitle mb-2 text-muted">Category Name: @Model?.Name</h6>
        <h6 class="card-subtitle mb-2 text-muted">Product Description:@Model?.Description</h6>
        <a href="~/Category/Index" class="btn btn-primary mt-3">Back</a>

    </div>
</div>
}